* {
	box-sizing: border-box;
}

* {
	margin: 0px; padding: 0px;
}

body {
	background: #777;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
	text-align: center;
}

.wrapper {
	width: 960px;
	margin: 0 auto 0 auto;
	padding: 20px;
}

header {
	width: 960px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0px auto 10px auto;
 	background: #ebebeb;
 	height: 50px;
}

nav {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0px auto 20px auto;
	background: #ebebeb;
	width: 960px;
	height: 50px;
}

section {
	float: left;
	position: relative;
	padding: 50px;
	margin: 0px auto 20px auto;
	background: #ebebeb;
	width: 495px;
	height: 350px;
}

article {
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding: 20px;
	margin: 5px auto 5px auto;
	color: #ebebeb;
	background: #777;
	width: 475px;
}

aside {
	float: right;
	padding: 50px;
	margin: 0px 0px;
	background: #ebebeb;
	width: 435px;
	height: 350px;
}

.headline {
	padding: 15px;
	margin: 10px 0px;
	color: #333;
	background: #ebebeb;
	width: 435px;
	font-weight: bold;
	font-size: 19pt;
}

p {
	padding: 15px;
	margin: 5px 0px 5px 0px;
	color: #333;
	background: #ebebeb;
	width: 435px;	
}

footer {
	clear: both;
	padding: 20px;
	margin:20px auto 60px auto;
	background: #ebebeb;
	width: 960px;
}

.container {
	width: 960px;
	height: 350px;
	margin: 0 auto 0 auto;
}